# See https://gitlab.uk-essen.de/ship-ai/templates/pre-commit-hooks

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
        exclude: examples
      - id: ruff-format
        exclude: examples

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        language_version: python3.10
        additional_dependencies: [types-python-dateutil, types-requests]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [html, css, json, javascript, xml, yaml]
        exclude: node_modules

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.12.0
    hooks:
      - id: pyproject-fmt
        types: [toml]

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: [--fix]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        types: [markdown]

  - repo: local
    hooks:
      - id: export-requirements
        name: Export requirements from uv
        entry: uv pip compile
        args: ["pyproject.toml", "--output-file", "requirements.txt"]
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
